$workSansBold: 'Inconsolata-Bold', sans-serif;
$workSansBold1: 'Inconsolata-ExtraBold', sans-serif;
$primary: #FFFF;


body {
    background-color: #090D1F;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.row-limit-size {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header {

    #logoBurger {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;

        #logo {
            width: 250px;
            height: 200px;
            margin-left: 40px;
        }

        #menuBurger {
            width: 50px;
            height: 50px;
            margin-top: 60px;
            margin-right: 40px;
            display: block;

        }
    }

    nav {
        #navigation {
            display: none;

            li {
                padding: 20px 0;
                text-align: center;
                width: 300px;

                a {
                    font-family: $workSansBold1;
                    font-size: 1.2rem;
                    color: white;
                    padding: 20px 0;
                }
            }

        }

        #navigation.active {
            display: block;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

h2 {
    font-size: 4rem;
    inset: auto auto 30px 30px;
    color: rgb(234, 74, 74);
    transition: inset .3s .3s ease-out;
    font-family: $workSansBold;
    text-align: center;

}


#texte {
    padding: 70px;
    inset: auto auto 80px 20px;
    font-family: $workSansBold;
    text-align: center;
    font-size: 24px;
    transition: opacity .3s ease-out;
    color: white;
}